/*SASS VARIABLES*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: Roboto; }

#main {
  display: grid;
  grid-template-rows: 20vh 80vh 2vh min-content;
  grid-template-columns: repeat(12, 1fr); }

hr.style-seven {
  grid-column: 1/-1;
  justify-self: center;
  overflow: visible;
  /* For IE */
  height: 30px;
  width: 90%;
  border-style: solid;
  border-color: #2F8EED;
  border-width: 1px 0 0 0;
  border-radius: 20px; }

hr.style-seven:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #2F8EED;
  border-width: 0 0 1px 0;
  border-radius: 20px; }

.cp {
  color: #2F8EED;
  font-weight: 700; }

.section-padding {
  padding: 2rem; }

.mg-tp-sm {
  margin-top: 2rem; }

.gc-2-8 {
  grid-column: 2/8; }

.gc-9-12 {
  grid-column: 9/12; }

.gc-2-5 {
  grid-column: 2/5; }

.gc-6-12 {
  grid-column: 6/12; }

.gc-4-12 {
  grid-column: 4/12; }

.gc-2-10 {
  grid-column: 2/10; }

.gc-8-12 {
  grid-column: 8/12; }

.gc-2-12 {
  grid-column: 2/12; }

.gc-2-4 {
  grid-column: 2/4; }

.text-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  animation: fade_in_up-1 1.8s; }
  .text-list li {
    font-size: 1.5rem;
    font-weight: 400; }
    .text-list li:not(:last-child) {
      margin-bottom: 1rem; }
    .text-list li span {
      color: #2F8EED; }

.text {
  display: grid;
  grid-row-gap: 3rem; }

#header {
  grid-column: 1/13;
  grid-row: 1/2;
  align-self: center;
  animation: fade_in_left 1.8s; }

#title {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  color: #2F8EED;
  text-transform: uppercase;
  text-shadow: 0.5rem 0.5rem 0.5rem #ccc; }

.intro__text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  animation: fade_in_up-1 1.8s; }
  .intro__text li {
    font-size: 1.5rem;
    font-weight: 400; }
    .intro__text li:not(:last-child) {
      margin-bottom: 1rem; }
    .intro__text li span {
      color: #2F8EED; }

.intro__img-div {
  height: 35rem;
  width: 35rem;
  position: relative;
  animation: fade_in_right 1.8s; }
  .intro__img-div img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .intro__img-div #img-caption {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    color: #2F8EED;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0rem;
    padding: 2rem;
    display: none;
    transition: all 2s; }
  .intro__img-div:hover #img-caption {
    display: block; }

.books .quote {
  grid-column: 3/5; }
  .books .quote .image {
    height: 100%;
    width: 100%; }

.footer {
  grid-column: 1/-1;
  padding: 2rem;
  background-color: #2F8EED;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center; }
  .footer__wiki-link {
    display: inline-block;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: #2F8EED;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer; }
  .footer__external {
    grid-column: 8/12;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 1rem; }
  .footer__heading {
    color: #2F8EED;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    cursor: pointer; }
  .footer__list {
    list-style: none;
    display: grid;
    grid-row-gap: 1rem; }
  .footer__link {
    color: #2F8EED;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    cursor: pointer; }
    .footer__link:hover {
      text-decoration: underline; }
  .footer__paragraph {
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    color: #2F8EED;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400; }

@keyframes fade_in_left {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes fade_in_right {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes fade_in_up-1 {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

.section-sm {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center; }

.heading-2 {
  padding: 2rem;
  padding-top: 0;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  color: #2F8EED;
  text-align: center;
  animation: fade_in_right 1.8s; }

.heading-3 {
  font-size: 2rem;
  font-weight: 700;
  color: #2F8EED; }

.quote {
  position: relative;
  padding: 1rem 2rem; }
  .quote__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .quote__text {
    font-size: 1.7rem;
    font-style: italic;
    color: #111111;
    text-indent: 40px;
    text-align: justify; }
  .quote__quotation {
    position: absolute;
    font-size: 70px;
    top: -30px;
    left: -10px;
    opacity: 1;
    color: #2F8EED; }

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: justify; }

.figure {
  width: 30rem;
  align-self: center;
  border: 1px solid #2F8EED;
  object-fit: cover; }
  .figure__img {
    width: 100%; }
  .figure__caption {
    font-size: 1.3rem;
    text-align: center; }
