.intro {
    &__text {
        padding: 1rem;
        @include text-flex;
        @include list-style;
    }
    &__img-div {
        // align-self: center;
        height: 35rem;
        width: 35rem;
        position: relative;
        animation: fade_in_right 1.8s;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        #img-caption {
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
            width: 100%;
            color: $color-primary;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            bottom: 0rem;
            padding: 2rem;
            display: none;
            transition: all 2s;
        }
        &:hover #img-caption {
            display: block;
        }
    }
}

.early-life {
    .quote {
        .image {}
    }
    .text {}
    .text-list {}
}

.education {
    .quote {
        .image {}
    }
    .text {}
    .text-list {}
}

.untouchability {
    .quote {
        .image {}
    }
    .text {}
    .text-list {}
}

.poona {
    .quote {
        .image {}
    }
    .text {}
    .text-list {}
}

.aryan {
    .quote {
        .image {}
    }
    .text {}
    .text-list {}
}

.political {
    .quote {
        .image {}
    }
    .text {}
    .text-list {}
}

.footer {
    grid-column: 1/-1;
    padding: 2rem;
    background-color: $color-primary;
    @include section-grid;
    &__wiki-link {
        grid-column: 2/5;
        display: inline-block;
        padding: 1rem;
        border-radius: 10px;
        text-decoration: none;
        text-transform: uppercase;
        background-color: white;
        color: $color-primary;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
    }
    &__external {
        grid-column: 8/12;
        background-color: white;
        text-align: center;
        border-radius: 10px;
        padding: 1rem;
    }
    &__heading {
        color: $color-primary;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1.2rem;
    }
    &__list {
        list-style: none;
        display: grid;
        grid-row-gap: 1rem;
    }
    &__link {
        color: $color-primary;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 300;
        &:hover {
            text-decoration: underline;
        }
    }
}