.figure {
    // height: 25rem;
    // width: 25rem;
    @include width(30rem);
    align-self: center;
    border: 1px solid $color-primary;
    object-fit: cover;
    &__img {
        width: 100%;
        // height: auto;
    }
    &__caption {
        font-size: $h4;
        text-align: center;
    }
}